.navbar {
  transition: all 0.5s ease !important;
  height: 80px;
  z-index: 888;
  &.headerScroll,
  &.headerBg {
    background: #84548e4d !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
  }
  .navbar-nav {
    .nav-link {
      color: var(--text-white-color);
      font-weight: 400;
      font-size: 20px;
      text-transform: capitalize;
      &.active2 {
        color: var(--text-main-color) !important;
        font-weight: bold !important;
      }
    }
  }
  .menu-icon {
    height: 26px;
    width: 32px;
    z-index: 2;
    transform: scale(0.8);
    .line {
      height: 4px;
      width: 50%;
      border-radius: 10px;
      background: #fff;
    }
    .line2 {
      width: 100%;
    }
    .line3 {
      width: 75%;
    }
  }
}
.dark-nav {
  .nav-link,
  .text-white-color {
    color: var(--text-dark-color) !important;
  }
  .line {
    background-color: var(--bg-dark-color) !important;
  }
}
.mega-dropdown {
  position: static;
  border-radius: 15px !important;
  .mega-menu-visit {
    top: 96%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0 0 15px 15px;
  }
}
.nav-link {
  cursor: pointer;
}
.logo-img {
  top: -10px;
}
.navbar2 {
  box-shadow: 0 0.5rem 1rem rgb(224 224 224 / 15%);
}
.navbar3 {
  border-radius: 15px 15px 0 0;
  padding: 13px 0;
  z-index: 3333;
  .nav-link {
    color: #9fa3af !important;
  }
  .active2 {
    color: var(--text-main-color) !important;
  }
  .camel-svg {
    width: 58px;
    height: 58px;
    margin-top: -2rem;
    background-color: #bc61cf !important;
    box-shadow: 0px 4px 24px 0px #bc61cf4d;
  }
  .saudi {
    width: 30px !important;
  }
}
.active2 {
  color: var(--text-main-color) !important;
}

:host::ng-deep {
  #header-sidebar {
    .navbar-nav {
      max-height: 70vh;
      overflow: auto;
      margin: 5px !important;
    }
  }
  .p-sidebar {
    border-radius: 0px 5px 5px 0;
  }
  .p-sidebar-right {
    border-radius: 5px 0 0 5px !important;
  }
  .p-sidebar-header,
  .p-sidebar-footer {
    display: none !important;
  }
  .sidebar-menu-nav {
    background-image: url(../../../../assets/images/sidebar-bg2.svg);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-size: 235px;
    height: 100%;
    overflow: hidden;
    .nav-link {
      z-index: 3;
      position: relative;
      color: #f8f5f5;
    }
  }
  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111d9 !important;
  }
  .active3 {
    font-weight: 600;
    background-color: var(--bg-white-color);
    border-radius: 5px;
    padding: 11px;
    color: var(--bg-main-color) !important;
    font-weight: bold;
  }
  .sidebar-menu {
    padding: 2rem 1rem !important;
    border-radius: 0px 5px 5px 0px;
    z-index: 3;
  }
  .p-sidebar-content {
    padding: 0 !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}
.close {
  width: 27px;
  height: 27px;
  right: 15px;
  top: 15px;
}
.login {
  background: linear-gradient(
    130deg,
    #af71ff 1.83%,
    #c83ec2 41.17%,
    #898ce1 74.54%,
    #b15bc2 91.38%
  ) !important;
  border: 1px solid var(--bg-main-color);
  width: fit-content;
  padding: 11px 13px;
  border-radius: 5px;
  color: var(--bg-main-color);
}
