<nav class="navbar navbar-expand-lg position-fixed w-100 d-xl-block d-none"
  [ngClass]="page!='home'&&page!='places'&&page!='trips'&&page!='coming-soon'&&page!='stores'&&page!='events'&&page!='restaurants'&&page!='restaurant-details'&&page!='stories'&&page!='searchResult'?'headerBg':''"
  (clickOutside)="collapsedMenu == true ? collapsedMenu = false :''"
  [class.dark-nav]="page=='stores'||page=='events'||page=='restaurant-details'||page=='stories'||page=='searchResult'">
  <div class="container px-0">
    <a class="navbar-brand mx-3">
      @if(page=='stores'||page=='events'||page=='restaurant-details'||page=='searchResult'){
      <img src="assets/images/logo/dark-logo.svg" alt="logo" class="logo h-100">
      }@else {
      <img src="assets/images/logo/logo.svg" alt="logo" class="logo h-100">
      }
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="!collapsedMenu" (click)="collapsedMenu = !collapsedMenu" aria-label="Toggle navigation">
      <div class="menu-icon d-flex justify-content-between flex-column align-items-end">
        <span class="line"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    </button>
    <div class="collapse navbar-collapse m-auto" id="navbarSupportedContent" [class.show]="collapsedMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active2"
            (click)="collapsedMenu = false">{{'nav.home'|translate}}</a>
        </li>
        <li class="nav-item dropdown mega-dropdown d-lg-flex d-none"
          (clickOutside)="collapse == true ? (collapse = false) : ''">
          <a class="nav-link dropdown-toggle text-white-color" id="megaDropdownMenu" aria-haspopup="true"
            routerLinkActive="active2" [attr.aria-expanded]="!collapse" (click)="collapse = !collapse">
            {{'nav.place'|translate}}
          </a>
          <div class="dropdown-menu mega-menu-visit border-0 shadow p-0" aria-labelledby="megaDropdownMenu"
            [class.show]="collapse">
            <!-- <app-invite-to-visit (openPlaceHandler)="openPlace()"></app-invite-to-visit> -->
          </div>
        </li>
        <li class="nav-item d-lg-none d-flex">
          <a class="nav-link" (click)="collapsedMenu = false" [routerLink]="['/places']"
            routerLinkActive="active2">{{'nav.place'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="collapsedMenu = false" [routerLink]="['/stores']"
            routerLinkActive="active2">{{'nav.stores'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="collapsedMenu = false" [routerLink]="['/restaurants']"
            routerLinkActive="active2">{{'nav.zad'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="collapsedMenu = false" [routerLink]="['/stories']"
            routerLinkActive="active2">{{'nav.swalefs'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="collapsedMenu = false" [routerLink]="['/events']"
            routerLinkActive="active2">{{'nav.events'|translate}}</a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-4 py-lg-0 py-3">
        @if(isUserLoggedin){
        <!-- <app-user-info></app-user-info> -->
        }@else {
        <button class="btn btn-solid-main py-2 login d-flex justify-content-center gap-2" (click)="login()">
          {{'form.login'|translate}}
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill=" none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
            <path d="M21 12h-13l3 -3" />
            <path d="M11 15l-3 -3" />
          </svg>
        </button>
        }
        <!-- <app-language-selector></app-language-selector> -->
      </div>
    </div>
  </div>
</nav>

<nav class="d-xl-none d-block navbar2 position-absolute w-100 "
  [ngClass]="page!='home'&&page!='places'&&page!='trips'&&page!='coming-soon'?'headerBg':''"
  [class.dark-nav]="page=='place-details'||page=='stores'||page=='store-details'||page=='events'||page=='restaurant-details'||page=='stories'||page=='searchResult'"
  [ngClass]="page=='place-details'||page=='store-details'?'d-md-block d-none bg-md-header':''">
  <div class="container d-flex h-100">
    <div class="d-flex justify-content-between align-items-center w-100">
      <a class="menu-icon d-flex justify-content-between flex-column" (click)="displayMenu = true">
        <span class="line"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </a>
      <!-- <app-language-selector></app-language-selector> -->
    </div>
  </div>
</nav>
<div id="header-sidebar">
  <p-sidebar [(visible)]="displayMenu" [position]="currentLanguage=='ar'?'right':'left'">
    <div class="position-relative sidebar-menu-nav">
      <div class="overlay position-absolute"></div>
      <div class="sidebar-menu text-white-color d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-start logo-img mb-3 pointer" (click)="displayMenu = false"
          [routerLink]="['/home']">
          <img src="assets/images/logo/logo.svg" alt="logo" class="logo h-100">
        </div>
        <div class="d-flex justify-content-between gap-2">
          @if(currentLoginInformation){
          <div class="d-flex align-items-center gap-2 flex-column w-100">
            <div class="user-img">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
              </svg>
            </div>
            <div>
              <h5 class="name fs-5-1 text-white-color fw-semibold text-capitalize mb-1 text-center">
                {{currentLoginInformation?.full_name||''}}</h5>
              <p class="mb-0 text-center">{{currentLoginInformation?.email||''}}</p>
            </div>
          </div>
          }@else {
          <div class="nav-item">
            <a class="nav-link d-flex gap-2 fw-bold" (click)="displayMenu = false"
              (click)="login();displayMenu = false">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill=" none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M21 12h-13l3 -3" />
                <path d="M11 15l-3 -3" />
              </svg>
              {{'form.login'|translate}}</a>
          </div>
          }
          <a [class.position-absolute]="currentLoginInformation"
            class="close d-flex justify-content-center align-items-center bg-white-color rounded text-danger"
            (click)="displayMenu=false">
            <i class="pi pi-times"></i>
          </a>
        </div>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3 p-3">
        <li class="nav-item">
          <a class="nav-link d-flex gap-2" (click)="displayMenu = false" [routerLink]="['/home']"
            routerLinkActive="active3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="20" height="20"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
              <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
            </svg>
            {{'nav.home'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex gap-2" (click)="displayMenu = false" [routerLink]="['/places']"
            routerLinkActive="active3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-skyscraper" width="20"
              height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M3 21l18 0" />
              <path d="M5 21v-14l8 -4v18" />
              <path d="M19 21v-10l-6 -4" />
              <path d="M9 9l0 .01" />
              <path d="M9 12l0 .01" />
              <path d="M9 15l0 .01" />
              <path d="M9 18l0 .01" />
            </svg>
            {{'nav.place'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  d-flex gap-2" (click)="displayMenu = false" [routerLink]="['/stores']"
            routerLinkActive="active3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-basket" width="20" height="20"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 14a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path
                d="M5.001 8h13.999a2 2 0 0 1 1.977 2.304l-1.255 7.152a3 3 0 0 1 -2.966 2.5353h-9.512a3 3 0 0 1 -2.965 -2.5353l-1.255 -7.152a2 2 0 0 1 1.977 -2.304z" />
              <path d="M17 10l-2 -6" />
              <path d="M7 10l2 -6" />
            </svg>
            {{'nav.stores'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  d-flex gap-2" (click)="displayMenu = false" [routerLink]="['/restaurants']"
            routerLinkActive="active3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-pavilion" width="20"
              height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M3 21h7v-3a2 2 0 0 1 4 0v3h7" />
              <path d="M6 21l0 -9" />
              <path d="M18 21l0 -9" />
              <path d="M6 12h12a3 3 0 0 0 3 -3a9 8 0 0 1 -9 -6a9 8 0 0 1 -9 6a3 3 0 0 0 3 3" />
            </svg>
            {{'nav.zad'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  d-flex gap-2" (click)="displayMenu = false" [routerLink]="['/stories']"
            routerLinkActive="active3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-skyscraper" width="20"
              height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M3 21l18 0" />
              <path d="M5 21v-14l8 -4v18" />
              <path d="M19 21v-10l-6 -4" />
              <path d="M9 9l0 .01" />
              <path d="M9 12l0 .01" />
              <path d="M9 15l0 .01" />
              <path d="M9 18l0 .01" />
            </svg>
            {{'nav.swalefs'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex gap-2" (click)="displayMenu = false" [routerLink]="['/events']"
            routerLinkActive="active3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-timeline-event-text" width="20"
              height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 20m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M10 20h-6" />
              <path d="M14 20h6" />
              <path d="M12 15l-2 -2h-3a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-3l-2 2z" />
              <path d="M9 6h6" />
              <path d="M9 9h3" />
            </svg>
            {{'nav.events'|translate}}</a>
        </li>

        <ng-container *ngIf="currentLoginInformation">
          <li class="nav-item">
            <a class="nav-link d-flex gap-2 text-danger fw-bold" (click)="logOut();displayMenu = false">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout scaleX-rtl" width="20"
                height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M9 12h12l-3 -3" />
                <path d="M18 15l3 -3" />
              </svg>
              {{'general.logout'|translate}}</a>
          </li>
        </ng-container>
      </ul>
    </div>

  </p-sidebar>
</div>

<nav class="d-xl-none d-flex position-fixed w-100 bottom-0 bg-white-color navbar3 shadow-lg">
  <ul class="gap-2 d-flex justify-content-evenly w-100 p-0">
    <li class=" nav-item">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active2" (click)="collapsedMenu = false">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="35" height="35"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
        </svg>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/places']" routerLinkActive="active2">
        <svg xmlns=" http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-current-location" width="35"
          height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill=" none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M12 12m-8 0a8 8 0 1 0 16 0a8 8 0 1 0 -16 0" />
          <path d="M12 2l0 2" />
          <path d="M12 20l0 2" />
          <path d="M20 12l2 0" />
          <path d="M2 12l2 0" />
        </svg>
      </a>
    </li>
    <!-- <li class="nav-item d-sm-flex d-none">
      <a class="nav-link" [routerLink]="['/stores']" routerLinkActive="active2">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-community" width="35"
          height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8" />
          <path d="M13 7l0 .01" />
          <path d="M17 7l0 .01" />
          <path d="M17 11l0 .01" />
          <path d="M17 15l0 .01" />
        </svg>
      </a>
    </li> -->
    <li class="nav-item d-xl-none d-flex position-relative">
      <!-- <div class="beautiful-radius"></div>
      <div class="beautiful-radius"></div> -->
      <a class="nav-link camel-svg d-flex justify-content-center align-items-center rounded-circle"
        (click)="startTrip()">
        <img src="assets/images/camel2.gif" width="55px" height="55px" alt="">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="collapsedMenu = false; explore()">
        <img src="assets/images/icons/saudi.svg" alt="saudi" class="saudi">
      </a>
    </li>
    <li class="nav-item">
      <!-- [routerLink]="['/places']" routerLinkActive="active" -->
      <a class="nav-link" (click)="collapsedMenu = false" [routerLink]="['/stores']" routerLinkActive="active">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-circus" width="35"
          height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 11h16" />
          <path d="M12 6.5c0 1 -5 4.5 -8 4.5" />
          <path d="M12 6.5c0 1 5 4.5 8 4.5" />
          <path d="M6 11c-.333 5.333 -1 8.667 -2 10h4c1 0 4 -4 4 -9v-1" />
          <path d="M18 11c.333 5.333 1 8.667 2 10h-4c-1 0 -4 -4 -4 -9v-1" />
          <path d="M12 7v-4l2 1h-2" />
        </svg>
      </a>
    </li>
  </ul>
</nav>

<!-- <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog> -->