<div class="dropdown-language general-dropdown d-xl-block d-none">
  <div class="dropdown">
    <button class="dropdown-toggle lang-flag btn p-0 d-flex align-items-center gap-1" type="button"
      [ngClass]="page!='stores'&&page!='events'&&page!='restaurant-details'&&page!='stories'&&page!='searchResult'?'text-white-color':'text-dark-color dark-toggle'"
      id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      @switch(currentLanguage){
      @case ('ar') {
      <img class="flag" src="assets/images/flag/sa.svg" alt="saudi">
      }
      @case ('en') {
      <img class="flag" src="assets/images/flag/us.svg" alt="english">
      }
      @case ('ru') {
      <img class="flag" src="assets/images/flag/ru.svg" alt="russian">
      }
      @case ('zh') {
      <img class="flag" src="assets/images/flag/cn.svg" alt="chines">
      }
      }
      <span class="lang">
        {{currentLanguage=='ar'?'عربي':currentLanguage=='ru'?'Рой':currentLanguage=='zh'?'尼亞尼':'EN'}}
      </span>
    </button>
    <ul class="dropdown-menu rounded-25 border-0 shadow p-3" aria-labelledby="dropdownMenuButton1">
      <li class="nav-item " (click)="translationService.changeLang('ar')">
        <a class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag" src="assets/images/flag/sa.svg" alt="ar">
          <span>العربية</span>
        </a>
      </li>
      <li class="nav-item " (click)="translationService.changeLang('en')"><a
          class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag" src="assets/images/flag/us.svg" alt="en">
          <span>English</span>
        </a></li>
      <li class="nav-item " (click)="translationService.changeLang('ru')"><a
          class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag shadow-sm" src="assets/images/flag/ru.svg" alt="ru">
          <span>Рой</span>
        </a></li>
      <li class="nav-item " (click)="translationService.changeLang('zh')"><a
          class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag shadow-sm" src="assets/images/flag/cn.svg" alt="zh">
          <span>尼亞尼</span>
        </a></li>
    </ul>
  </div>
</div>

<div class="dropdown-language general-dropdown d-xl-none d-block">
  <div class="dropdown">
    <button class="dropdown-toggle languages rounded-pill btn d-flex align-items-center gap-1"
      [ngClass]="shouldApplyDarkToggle() ? 'text-white-color' : 'text-dark-color dark-toggle'" type="button"
      id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="pi pi-language fs-4"></i>
      <span class="">
        {{currentLanguage=='ar'?'عربي':currentLanguage=='ru'?'Рой':currentLanguage=='zh'?'尼亞尼':'EN'}} </span>
    </button>
    <ul class="dropdown-menu dropdown-menu2 rounded-25 border-0 shadow p-3" aria-labelledby="dropdownMenuButton2">
      <li class="nav-item " (click)="translationService.changeLang('ar')">
        <a class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag" src="assets/images/flag/sa.svg" alt="saudi">
          <span>العربية</span>
        </a>
      </li>
      <li class="nav-item " (click)="translationService.changeLang('en')"><a
          class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag" src="assets/images/flag/us.svg" alt="english">
          <span>English</span>
        </a></li>
      <li class="nav-item " (click)="translationService.changeLang('ru')"><a
          class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag shadow-sm" src="assets/images/flag/ru.svg" alt="russian">
          <span>Рой</span>
        </a></li>
      <li class="nav-item " (click)="translationService.changeLang('zh')"><a
          class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag shadow-sm" src="assets/images/flag/cn.svg" alt="chines">
          <span>尼亞尼</span>
        </a></li>
    </ul>
  </div>
</div>